[Desktop Entry]
Name=Kickstart Configurator
Name[ja]=キックスタート設定
Comment=Kickstart file generator
Comment[ja]=キックスタートファイル・ジェネレータ
Icon=redhat/shadowman-round-48.png
Exec=/usr/sbin/ksconfig
Type=Application
Terminal=false
