[Desktop Entry]
Name=Kickstart
Name[cs]=Kickstart
Name[da]=Kickstart
Name[de]=Kickstart
Name[es]=Kickstart
Name[fr]=Kickstart
Name[is]=Hraðuppsetning
Name[it]=Kickstart
Name[no]=Kickstart
Name[pt]=Kickstart
Name[sv]=Kickstart
Name[ja]=キックスタート
Name[ko]=킥스타트
Name[zh_CN]=Kickstart
Name[zh_TW]=Kickstart
Name[pt_BR]=Kickstart
Comment=Create a kickstart file
Comment[cs]=Vytvořit soubor kickstart
Comment[da]=Opret en kickstart-fil
Comment[de]=Eine kickstart-Datei erstellen
Comment[es]=Crear un archivo kickstart
Comment[fr]=Créer un fichier kickstart
Comment[is]=Búa til hraðuppsetningaskrá
Comment[it]=Creare un file kickstart
Comment[no]=Opprett en kickstart-fil
Comment[pt]=Criar um ficheiro kickstart
Comment[sv]=Skapa en kickstartfil
Comment[ja]=キックスタートファイルの作成
Comment[ko]=킥스타트 파일 생성
Comment[zh_CN]=创建一个 kickstart 文件
Comment[zh_TW]=建立一個 kickstart 檔案
Comment[pt_BR]=Criar arquivo kickstart
Icon=/usr/share/redhat-config-kickstart/pixmaps/redhat-config-kickstart.png
Exec=/usr/sbin/redhat-config-kickstart
Type=Application
Terminal=false
